NODE RED FLOW/App Flow.txt
[{"id":"f488861e.300eb8","type":"tab","label":"Welcome","disabled":false,"info":""},{"id":"aec00211.4ad*"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#72f358","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#36ee11","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Copperplate,Copperplate Gothic Light,fantasy"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"COVID-19 TWEETS VSUALIZATION DASBOARD","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":40,"gy":40,"cx":2,"cy":2,"px":19,"py":19}}},{"id":"79a51e2d.fd9f6","type":"ui_tab","z":0,"name":"Dashboard Information","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"15602dbf.42f632","type":"ui_tab","z":0,"name":"COVID19_Sentiment_Analysis","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b6427a66.9239e8","type":"ui_tab","z":0,"name":"TOP FEEDS","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e609638.85ed5a","type":"ui_tab","z":0,"name":"CORONAVIRUS TIPS AND TRICKS","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"3fadb052.63841","type":"ui_tab","z":0,"name":"Conceptualization","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"83cf5f51.65b33","type":"ui_group","z":0,"name":"Analysis","tab":"79a51e2d.fd9f6","order":1,"disp":true,"width":21,"collapse":false},{"id":"feac8c32.825fa","type":"ui_group","z":0,"name":"Analysis","tab":"15602dbf.42f632","order":3,"disp":true,"width":21,"collapse":false},{"id":"d88d6bcc.57d7f8","type":"ui_group","z":0,"name":"Tweets Related to #CoronaVirus","tab":"15602dbf.42f632","order":1,"disp":true,"width":21,"collapse":false},{"id":"22928b38.3f6a14","type":"ui_group","z":"","name":"### LIVE FEEDS 1","tab":"b6427a66.9239e8","order":2,"disp":true,"width":"14","collapse":false},{"id":"3df0a5d8.c6487a","type":"ui_group","z":0,"name":"PREVENTIVE MEASURES","tab":"e609638.85ed5a","order":1,"disp":true,"width":"20","collapse":false},{"id":"3609521a.b04f8e","type":"ui_group","z":0,"name":"Live Sentiment Analysis Ups And Downs","tab":"3fadb052.63841","order":1,"disp":true,"width":20,"collapse":false},{"id":"b8b0268e.070f98","type":"ui_spacer","z":0,"name":"spacer","group":"f8b0a9d2.aa5f68","order":2,"width":2,"height":1},{"id":"f34c4a4b.23aa28","type":"ui_spacer","z":0,"name":"spacer","group":"f8b0a9d2.aa5f68","order":3,"width":2,"height":1},{"id":"8992e585.53c618","type":"ui_spacer","z":0,"name":"spacer","group":"f8b0a9d2.aa5f68","order":4,"width":2,"height":1},{"id":"e3f0b932.7866a8","type":"ui_spacer","z":0,"name":"spacer","group":"f8b0a9d2.aa5f68","order":5,"width":2,"height":1},{"id":"57c0567b.ecbf28","type":"ui_spacer","z":0,"name":"spacer","group":"f8b0a9d2.aa5f68","order":6,"width":2,"height":1},{"id":"ddd5bad3.ec4968","type":"ui_spacer","z":0,"name":"spacer","group":"f8b0a9d2.aa5f68","order":7,"width":2,"height":1},{"id":"61fccbd8.70c7b4","type":"ui_spacer","z":0,"name":"spacer","group":"f8b0a9d2.aa5f68","order":8,"width":2,"height":1},{"id":"71e3599c.2309c8","type":"ui_spacer","z":0,"name":"spacer","group":"f8b0a9d2.aa5f68","order":9,"width":2,"height":1},{"id":"1c7fc296.76f61d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ecd4c77a.9cfbc8","type":"ui_group","z":"","name":"Welcome To StreamX","tab":"1c7fc296.76f61d","order":1,"disp":true,"width":11,"collapse":true},{"id":"ce807b34.540a68","type":"ui_spacer","name":"spacer","group":"d88d6bcc.57d7f8","order":2,"width":4,"height":1},{"id":"b233a938.3852a8","type":"ui_spacer","name":"spacer","group":"d88d6bcc.57d7f8","order":3,"width":4,"height":1},{"id":"a8723e8d.5db5e","type":"ui_group","z":"","name":"### LIVE FEEDS 2","tab":"b6427a66.9239e8*AD>\n            <STYLE>\n                a{\n                    color:#3399ff;\n                    text-decoration:none;\n                }\n                b{\n                    font-size:24px;\n                    padding-top:5px;\n                }\n            </STYLE>\n    </HEAD>\n    <BODY>\n         <img src=\"https://www.redcross.org/content/dam/redcross/about-us/news/2020/coronavirus-safety-tw.jpg\" height=\"100px\" width=\"100px\"/>\n        <p>\n                \n    <div class=\"text parbase\">\n<div style=\"padding-top:20px; padding-bottom:20px\">\n    <p>As some communities begin to reopen during the global coronavirus (COVID-19) pandemic, public health officials say the best way to prevent illness is to avoid being exposed to this virus.</p>\n<p>Below are some steps from the Centers for Disease Control and Prevention to help protect yourself and others. Stay informed about what’s happening in your communi*ome and call your doctor</b> for medical advice and before visiting a medical office. Older adults and people of any age with serious underlying medical conditions should call a health care provider as soon as symptoms start.<br />\n</li>\n<li><b style=\"color:orange;\">Separate yourself from other people</b> in your home.<br />\n<ul>\n<li>Avoid sharing personal household items, such as dishes, drinking glasses, cups, eating utensils, towels or bedding. Wash items thoroughly after using them with soap and hot water.<br />\n</li>\n<li>On your own, clean and disinfect <a href=\"https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html\" target=\"_blank\">high-touch surfaces</a> daily in your sick room and designated bathroom. Have a healthy household member do the same for surfaces in other parts of the home. If you are sharing a bathroom, clean and disinfect it after each use.<br />\n</li>\n</ul>\n</li>\n<li><b style=\"color:orange;\">Wear a cloth f*he online course takes approximately one hour to complete and includes content on recognizing stress as well as caring for yourself while supporting your family and coworkers.</p>\n<br/><br/>\n<p><b style=\"color:yellow;\">FINDING UP-TO-DATE INFORMATION</b></p>\n<p>Visit <a href=\"https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/coronavirus-safety.html\" target=\"_blank\">redcross.org/coronavirus</a> for more information on COVID-19 safety. For the latest information, please visit the CDC website at <a href=\"http://www.cdc.gov/covid19\" target=\"_blank\">cdc.gov/covid19</a>. If you live outside the United States, health and safety tips can be found through the <a href=\"https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public\" target=\"_blank\">World Health Organization</a> and by following your local Red Cross or Red Crescent society’s social media channels (<a href=\"https://media.ifrc.org/ifrc/who-we-are/national-societies/national-societies-directory/\" target=\"_blank\">directory</a>).</p>\n\n</div></div>\n       \n    </BODY>\n</HTML>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":260,"wires":[[]]},{"id":"f1a0db3b.b46a58","type":"ui_toast","z":"aec00211.4ad03","position":"bottom right","displayTime":"1","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"TWEET ANALYSIS","name":"","x":880,"y":320,"wires":[]},{"id":"6b607cba.174054","type":"ui_text","z":"aec00211.4ad03","group":"83cf5f51.65b33","order":3,"width":7,"height":1,"name":"","label":"Positive","format":"{{msg.payload}}","layout":"col-center","x":880,"y":540,"wires":[]},{"id":"2b0a2847.8e79e8","type":"ui_text","z":"aec00211.4ad03","group":"83cf5f51.65b33","order":4,"width":7,"height":1,"name":"","label":"Neutral","format":"{{msg.payload}}","layout":"col-center","x":560,"y":540,"wires":[]},{"id":"c2c88250.862ed","type":"ui_text","z":"aec00211.4ad03","group":"83cf5f51.65b33","order":5,"width":7,"height":1,"name":"","label":"Negative","format":"{{msg.payload}}","layout":"col-center","x":280,"y":540,"wires":[]},{"id":"48cd85ec.2da8ec","type":"ui_text","z":"aec00211.4ad03","group":"d88d6bcc.57d7f8","order":1,"width":17,"height":2,"name":"","label":"","for*messages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":1440,"wires":[["71c1f1bc.c1bcd"]]},{"id":"1de8f307.1c83ed","type":"comment","z":"88516319.7439e","name":"LIVE NEWS AREA","info":"","x":590,"y":1180,"wires":[]},{"id":"ad3c219a.9677","type":"http request","z":"88516319.7439e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://newsapi.org/v2/top-headlines?country=in&category=health&q=corona&apiKey=e049fcb54bcf45d2bada1f6d792bfe3f","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":1640,"wires":[["34f593fc.000dac","bdcec216.cab79","85e10f6e.4afe6"]]},{"id":"64535769.cff7e8","type":"inject","z":"88516319.7439e","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1580,"wires":[["ad3c219a.9677"]]},{"id":"34f593fc.000dac","type":"change","z":"88516319.7439e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.articles[15].title","tot":"msg"}],"action":""*d2bada1f6d792bfe3f","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":2080,"wires":[["a568e301.ba32e","855bb79f.f00dd8","9e85d2ff.de6cb"]]},{"id":"c4a3c2f5.3ff34","type":"inject","z":"88516319.7439e","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2020,"wires":[["e164fec6.ed27c"]]},{"id":"a568e301.ba32e","type":"change","z":"88516319.7439e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.articles[2].title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2120,"wires":[["ef89c51c.961e78"]]},{"id":"ef89c51c.961e78","type":"ui_text","z":"88516319.7439e","group":"a8723e8d.5db5e","order":1,"width":14,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":2120,"wires":[]},{"id":"855bb79f.f00dd8","type":"change","z":"88516319.7439e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.articles[2].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2180,"wires":[["f0bea334.e90b5","c3e4f1d9.ee5e9"]]},{"id":"f0bea334.e90b5","type":"ui_text","z":"88516319.7439e","group":"a8723e8d.5db5e","order":2,"width":14,"height":2,"name":"","label":"Description","format":"{{msg.payload}}","layout":"col-center","x":790,"y":2180,"wires":[]},{"id":"9e85d2ff.de6cb","type":"image","z":"88516319.7439e","name":"","width":160,"data":"payload.articles[2].urlToImage","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":540,"y":2240,"wires":[["c3e4f1d9.ee5e9"]]},{"id":"b1b81554.fb80d8","type":"debug","z":"88516319.7439e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":2340,"wires":[]},{"id":"c3e4f1d9.ee5e9","type":"ui_template","z":"88516319.7439e","group":"a8723e8d.5db5e","name":"","order":3,"width":14,"height":4,"format":"\n<p style=\"text-align:center\">\n<img width=\"250\" height=\"180\" src=  {{msg.payload.articles[2].urlToImage}} alt='Image not found' align=\"center\" />\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":2260,"wires":[["b1b81554.fb80d8"]]},{"id":"ab9daf2.bf54e5","type":"comment","z":"88516319.7439e","name":"LIVE NEWS AREA","info":"","x":570,"y":2000,"wires":[]},{"id":"f1afdb96.94e398","type":"http request","z":"88516319.7439e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://newsapi.org/v2/top-headlines?country=in&category=health&q=corona&apiKey=e049fcb54bcf45d2bada1f6d792bfe3f","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":2540,"wires":[["4ddc4412.38bfdc","3d1a37e4.1e28b8","9107e8c8.db4ae8"]]},{"id":"b4b0f332.ddffd","type":"inject","z":"88516319.7439e","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2480,"wires":[["f1afdb96.94e398"]]},{"id":"4ddc4412.38bfdc","type":"change","z":"88516319.7439e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.articles[16].title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2580,"wires":[["816bb4f0.8d9328"]]},{"id":"816bb4f0.8d9328","type":"ui_text","z":"88516319.7439e","group":"2c6ced7c.722702","order":1,"width":14,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":770,"y":2580,"wires":[]},{"id":"3d1a37e4.1e28b8","type":"change","z":"88516319.7439e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.articles[16].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2640,"wires":[["c82b8ce8.ec78","6f608acf.e73ef4"]]},{"id":"c82b8ce8.ec78","type":"ui_text","z":"88516319.7439e","group":"2c6ced7c.722702","order":2,"width":14,"height":2,"name":"","label":"Description","format":"{{msg.payload}}","layout":"col-center","x":790,"y":2640,"wires":[]},{"id":"9107e8c8.db4ae8","type":"image","z":"88516319.7439e","name":"","width":160,"data":"payload.articles*width=\"250\" height=\"180\" src=  {{msg.payload.articles[17].urlToImage}} alt='Image not found' align=\"center\" />\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":3140,"wires":[["8f8104f7.c98688"]]},{"id":"2d270cf0.c8a6e4","type":"comment","z":"88516319.7439e","name":"LIVE NEWS AREA","info":"","x":570,"y":2880,"wires":[]},{"id":"1ae1f5ba.3fbada","type":"http request","z":"88516319.7439e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://newsapi.org/v2/top-headlines?country=in&category=health&q=corona&apiKey=e049fcb54bcf45d2bada1f6d792bfe3f","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":3360,"wires":[["9c575115.fa94e","2fcbed08.b93692","c2b5ec53.9864c"]]},{"id":"c7dd9fc.e28366","type":"inject","z":"88516319.7439e","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":3300,"wires":[["1ae1f5ba.3fbada"]]},{"id":"9c575115.fa94e","type":"change","z":"88516319.7439e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.articles[19].title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":3400,"wires":[["30686b41.54eec4"]]},{"id":"30686b41.54eec4","type":"ui_text","z":"88516319.7439e","group":"edc9e44d.5b6f38","order":1,"width":14,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":790,"y":3400,"wires":[]},{"id":"2fcbed08.b93692","type":"change","z":"88516319.7439e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.articles[19].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":3460,"wires":[["c4d3f9b7.1c0c58","1b70c16.2ddde3f"]]},{"id":"c4d3f9b7.1c0c58","type":"ui_text","z":"88516319.7439e","group":"edc9e44d.5b6f38","order":2,"width":14,"height":2,"name":"","label":"Description","format":"{{msg.payload}}","layout":"col-center","x":810,"y":3460,"wires":[]},{"id":"c2b5ec53.9864c","type":"image","z":"88516319.7439e","name":"","width":160,"data":"payload.articles[19].urlToImage","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":560,"y":3520,"wires":[["1b70c16.2ddde3f"]]},{"id":"c9952fa0.1cddc","type":"debug","z":"88516319.7439e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":3620,"wires":[]},{"id":"1b70c16.2ddde3f","type":"ui_template","z":"88516319.7439e","group":"edc9e44d.5b6f38","name":"","order":3,"width":14,"height":4,"format":"\n<p style=\"text-align:center\">\n<img width=\"250\" height=\"180\" src=  {{msg.payload.articles[19].urlToImage}} alt='Image not found' align=\"center\" />\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":3540,"wires":[["c9952fa0.1cddc"]]},{"id":"3579f3fb.81eecc","type":"comment","z":"88516319.7439e","name":"LIVE NEWS AREA","info":"","x":590,"y":3280,"wires":[]},{"id":"49a01ead.f66e","type":"ui_template","z":"aec00211.4ad03","group":"83cf5f51.65b33","name":"","order":2,"width":0,"height":0,"format":"<p style=\"text-align:left\">\n<img width=\"1040\" height=\"350\" src= \"https://thumbs.dreamstime.com/t/thumbs-up-down-middle-thumb-up-thumb-down-thumb-middle-icons-isolated-white-background-represents-customer-satisfaction-103131688.jpg\" alt='Image not found' />\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":200,"y":480,"wires":[["c2c88250.862ed"]]},{"id":"19971c1a.725374","type":"function","z":"aec00211.4ad03","name":"Text","func":"msg.payload=\"In this dashboard one can explore the interests, sentiments, and demographics of tweets of various sections of the society based on a sentiment score value. The value displayed are beig analyzed on a scale of 5 points.\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["6449cc08.b151c4"]]},{"id":"6449cc08.b151c4","type":"ui_text","z":"aec00211.4ad03","group":"83cf5f51.65b33","order":1,"width":21,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":960,"y":400,"wires":[]},{"id":"75593069.5f30b","type":"ui_chart","z":"aec00211.4ad03","name":"","group":"3609521a.b04f8e","order":1,"width":20,"height":9,"label":"Analysis ","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-5","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":true,"useUTC":true,"colors":["#e1f00a","#09ddec","#f2f60e","#2ac02a","#fd8617","#e30202","#ff94f6","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":120,"wires":[[]]},{"id":"24be6d79.e2f8d2","type":"delay","z":"aec00211.4ad03","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":40,"wires":[["48cd85ec.2da8ec"]]}]